//begin footer
+b.FOOTER.footer
	+e.info
		+e.container.container
			+e.info-col
				+e.H4.info-title КУХНИ
				+e.UL.info-list
					li: a(href='#!') Маленькие кухни / хрущевки
					li: a(href='#!') Кухня гостиная / в студию
					li: a(href='#!') Современные кухни
					li: a(href='#!') Угловые кухни
					li: a(href='#!') Стиль ЧУ

			+e.info-col
				+e.H4.info-title БЕСПЛАТНО
				+e.UL.info-list
					li: a(href='#!') Пригласить дизайнера в гости
					li: a(href='#!') Экспресс расчет в течение 15 минут
					li: a(href='#!') Рассрочка 0%

			+e.info-col
				+e.H4.info-title АКЦИИ И СПЕЦПРЕДЛОЖЕНИЯ
				+e.UL.info-list
					li: a(href='#!') Бесплатное такси до МебельСервис
					li: a(href='#!') Новая кухня в обмен на старую
	+e.bottom
		+e.container.container
			+b.A.logo(href='#!').footer__logo
				+e.IMG(src='img/other/logo.jpg' alt='img')
			+e.copy
				+e.P.copy-text ОГРН
				+e.P.copy-text © mebelservice12.ru. Все права защищены.
			+e.BLOCKQUOTE.quote "Тот кто сможет дать потребителю лучшее качество по наиболее низким ценам, непременно станет во главе индустрии"
//end footer
