$icons: (0:0)
$icons: map-merge($icons,('3d-modeling': (X: -151px, Y:-305px, W: 28px, H: 28px, TW: 419px, TH: 393px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('arr-dotted': (X: -265px, Y:-236px, W: 69px, H: 20px, TW: 419px, TH: 393px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('clock': (X: -354px, Y:-305px, W: 20px, H: 20px, TW: 419px, TH: 393px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('credit-card': (X: -167px, Y:-155px, W: 64px, H: 53px, TW: 419px, TH: 393px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('drop': (X: -295px, Y:-144px, W: 55px, H: 66px, TW: 419px, TH: 393px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('email': (X: -324px, Y:-305px, W: 20px, H: 20px, TW: 419px, TH: 393px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('facebook': (X: -366px, Y:-209px, W: 46px, H: 46px, TW: 419px, TH: 393px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('factory': (X: -295px, Y:-71px, W: 59px, H: 63px, TW: 419px, TH: 393px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('guarantee': (X: -366px, Y:-74px, W: 47px, H: 69px, TW: 419px, TH: 393px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('home': (X: -295px, Y:0px, W: 61px, H: 61px, TW: 419px, TH: 393px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('kitchen-sm': (X: -72px, Y:-236px, W: 55px, H: 55px, TW: 419px, TH: 393px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('kitchen': (X: -34px, Y:-361px, W: 26px, H: 26px, TW: 419px, TH: 393px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('list-numb-1': (X: -294px, Y:-305px, W: 20px, H: 20px, TW: 419px, TH: 393px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('list-numb-2': (X: -264px, Y:-305px, W: 20px, H: 20px, TW: 419px, TH: 393px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('list-numb-3': (X: -234px, Y:-305px, W: 20px, H: 20px, TW: 419px, TH: 393px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('list': (X: 0px, Y:-361px, W: 24px, H: 32px, TW: 419px, TH: 393px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('loc': (X: -70px, Y:-361px, W: 17px, H: 21px, TW: 419px, TH: 393px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('manufacturing': (X: -112px, Y:-305px, W: 29px, H: 29px, TW: 419px, TH: 393px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('money': (X: 0px, Y:-236px, W: 62px, H: 59px, TW: 419px, TH: 393px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('operator': (X: -241px, Y:-155px, W: 29px, H: 29px, TW: 419px, TH: 393px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('pantone': (X: -197px, Y:-76px, W: 63px, H: 63px, TW: 419px, TH: 393px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('pig-money': (X: 0px, Y:-155px, W: 75px, H: 71px, TW: 419px, TH: 393px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('promo-zero': (X: 0px, Y:0px, W: 187px, H: 145px, TW: 419px, TH: 393px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('right-quote': (X: -366px, Y:-265px, W: 31px, H: 29px, TW: 419px, TH: 393px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('shipped': (X: -189px, Y:-305px, W: 35px, H: 22px, TW: 419px, TH: 393px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('stove': (X: -366px, Y:0px, W: 53px, H: 64px, TW: 419px, TH: 393px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('team': (X: -85px, Y:-155px, W: 72px, H: 53px, TW: 419px, TH: 393px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('tel-btn': (X: -210px, Y:-236px, W: 45px, H: 45px, TW: 419px, TH: 393px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('tel': (X: -270px, Y:-76px, W: 13px, H: 23px, TW: 419px, TH: 393px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('telegram': (X: -56px, Y:-305px, W: 46px, H: 46px, TW: 419px, TH: 393px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('truck': (X: -137px, Y:-236px, W: 63px, H: 45px, TW: 419px, TH: 393px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('viber': (X: 0px, Y:-305px, W: 46px, H: 46px, TW: 419px, TH: 393px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('whatsapp': (X: -366px, Y:-153px, W: 46px, H: 46px, TW: 419px, TH: 393px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('yt-btn': (X: -197px, Y:0px, W: 88px, H: 66px, TW: 419px, TH: 393px, IMG: '../img/sprite.png')))


// Gets an attribute from the sass map
@function icon-attr($icon, $attr)
  $icon: map-get($icons, $icon)
  @return map-get($icon, $attr)

@mixin sprite($iconName)
  background-image: url(icon-attr($iconName, IMG))
  width: icon-attr($iconName, W)
  height: icon-attr($iconName, H)
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-position($iconName)
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-retina($iconName)
  background-image: url(icon-attr($iconName, IMG))
  $width: icon-attr($iconName, W)
  $height: icon-attr($iconName, H)
  width: $width/2
  height: $height/2
  $x: icon-attr($iconName, X)
  $y: icon-attr($iconName, Y)
  background-position: $x/2 $y/2
  $tw: icon-attr($iconName, TW)   
  $th: icon-attr($iconName, TH)
  background-size: $tw/2 $th/2    


@mixin s($i)
  +sprite($i)
@mixin sp($i)
  +sprite-position($i)
@mixin sr($i)
  +sprite-retina($i)  

//
//.icon-3d-modeling
//  width: 28px
//  height: 28px
//  background-image: url('../img/sprite.png')
//  background-position: -151px -305px
//
//.icon-arr-dotted
//  width: 69px
//  height: 20px
//  background-image: url('../img/sprite.png')
//  background-position: -265px -236px
//
//.icon-clock
//  width: 20px
//  height: 20px
//  background-image: url('../img/sprite.png')
//  background-position: -354px -305px
//
//.icon-credit-card
//  width: 64px
//  height: 53px
//  background-image: url('../img/sprite.png')
//  background-position: -167px -155px
//
//.icon-drop
//  width: 55px
//  height: 66px
//  background-image: url('../img/sprite.png')
//  background-position: -295px -144px
//
//.icon-email
//  width: 20px
//  height: 20px
//  background-image: url('../img/sprite.png')
//  background-position: -324px -305px
//
//.icon-facebook
//  width: 46px
//  height: 46px
//  background-image: url('../img/sprite.png')
//  background-position: -366px -209px
//
//.icon-factory
//  width: 59px
//  height: 63px
//  background-image: url('../img/sprite.png')
//  background-position: -295px -71px
//
//.icon-guarantee
//  width: 47px
//  height: 69px
//  background-image: url('../img/sprite.png')
//  background-position: -366px -74px
//
//.icon-home
//  width: 61px
//  height: 61px
//  background-image: url('../img/sprite.png')
//  background-position: -295px 0px
//
//.icon-kitchen-sm
//  width: 55px
//  height: 55px
//  background-image: url('../img/sprite.png')
//  background-position: -72px -236px
//
//.icon-kitchen
//  width: 26px
//  height: 26px
//  background-image: url('../img/sprite.png')
//  background-position: -34px -361px
//
//.icon-list-numb-1
//  width: 20px
//  height: 20px
//  background-image: url('../img/sprite.png')
//  background-position: -294px -305px
//
//.icon-list-numb-2
//  width: 20px
//  height: 20px
//  background-image: url('../img/sprite.png')
//  background-position: -264px -305px
//
//.icon-list-numb-3
//  width: 20px
//  height: 20px
//  background-image: url('../img/sprite.png')
//  background-position: -234px -305px
//
//.icon-list
//  width: 24px
//  height: 32px
//  background-image: url('../img/sprite.png')
//  background-position: 0px -361px
//
//.icon-loc
//  width: 17px
//  height: 21px
//  background-image: url('../img/sprite.png')
//  background-position: -70px -361px
//
//.icon-manufacturing
//  width: 29px
//  height: 29px
//  background-image: url('../img/sprite.png')
//  background-position: -112px -305px
//
//.icon-money
//  width: 62px
//  height: 59px
//  background-image: url('../img/sprite.png')
//  background-position: 0px -236px
//
//.icon-operator
//  width: 29px
//  height: 29px
//  background-image: url('../img/sprite.png')
//  background-position: -241px -155px
//
//.icon-pantone
//  width: 63px
//  height: 63px
//  background-image: url('../img/sprite.png')
//  background-position: -197px -76px
//
//.icon-pig-money
//  width: 75px
//  height: 71px
//  background-image: url('../img/sprite.png')
//  background-position: 0px -155px
//
//.icon-promo-zero
//  width: 187px
//  height: 145px
//  background-image: url('../img/sprite.png')
//  background-position: 0px 0px
//
//.icon-right-quote
//  width: 31px
//  height: 29px
//  background-image: url('../img/sprite.png')
//  background-position: -366px -265px
//
//.icon-shipped
//  width: 35px
//  height: 22px
//  background-image: url('../img/sprite.png')
//  background-position: -189px -305px
//
//.icon-stove
//  width: 53px
//  height: 64px
//  background-image: url('../img/sprite.png')
//  background-position: -366px 0px
//
//.icon-team
//  width: 72px
//  height: 53px
//  background-image: url('../img/sprite.png')
//  background-position: -85px -155px
//
//.icon-tel-btn
//  width: 45px
//  height: 45px
//  background-image: url('../img/sprite.png')
//  background-position: -210px -236px
//
//.icon-tel
//  width: 13px
//  height: 23px
//  background-image: url('../img/sprite.png')
//  background-position: -270px -76px
//
//.icon-telegram
//  width: 46px
//  height: 46px
//  background-image: url('../img/sprite.png')
//  background-position: -56px -305px
//
//.icon-truck
//  width: 63px
//  height: 45px
//  background-image: url('../img/sprite.png')
//  background-position: -137px -236px
//
//.icon-viber
//  width: 46px
//  height: 46px
//  background-image: url('../img/sprite.png')
//  background-position: 0px -305px
//
//.icon-whatsapp
//  width: 46px
//  height: 46px
//  background-image: url('../img/sprite.png')
//  background-position: -366px -153px
//
//.icon-yt-btn
//  width: 88px
//  height: 66px
//  background-image: url('../img/sprite.png')
//  background-position: -197px 0px
//